# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Dependencies
Gemfile.lock

# Ruby
.ruby-version
.ruby-gemset

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Local development
.env
local_settings.py
